# Read in the Data

In [140]:
import pandas as pd
energy_df = pd.read_csv("../datasets/eia_data.csv")
energy_df.head()

,period,location,stateDescription,sectorid,sectorDescription,fueltypeid,fuelTypeDescription,ash-content,ash-content-units,consumption-for-eg,...,receipts-btu,receipts-btu-units,stocks,stocks-units,sulfur-content,sulfur-content-units,total-consumption,total-consumption-units,total-consumption-btu,total-consumption-btu-units
0,2024,PA,Pennsylvania,6,Industrial Non-CHP,PEL,petroleum liquids,NaN,percent,35.323,...,NaN,billion Btu,0.788,thousand barrels,NaN,percent,35.323,thousand barrels,0.20487,million MMBtu
1,2024,WI,Wisconsin,90,Electric Power Sector Non-CHP,WWW,wood and wood wastes,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,9.20345,million MMBtu
2,2024,WI,Wisconsin,90,Electric Power Sector Non-CHP,WOO,waste oil and other oils,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand barrels,NaN,percent,0.000,thousand barrels,0.00000,million MMBtu
3,2024,WI,Wisconsin,90,Electric Power Sector Non-CHP,NG,natural gas,NaN,percent,185752.941,...,168717.73089,billion Btu,NaN,thousand Mcf,NaN,percent,191287.171,thousand Mcf,198.00939,million MMBtu
4,2024,WI,Wisconsin,90,Electric Power Sector Non-CHP,COW,all coal products,5.0,percent,11662.838,...,192180.72036,billion Btu,NaN,thousand short tons,0.43,percent,11662.895,thousand short tons,210.85537,million MMBtu

In [141]:
energy_price_df = pd.read_csv("../datasets/eia_data2.csv")
energy_price_df.head()

,period,stateid,stateDescription,sectorid,sectorName,customers,price,revenue,sales,customers-units,price-units,revenue-units,sales-units
0,2024,AR,Arkansas,TRA,transportation,2.0,13.30,0.03496,0.26290,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
1,2024,PA,Pennsylvania,TRA,transportation,5.0,9.96,49.26808,494.79952,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
2,2024,PA,Pennsylvania,RES,residential,5525582.0,17.79,9685.95414,54433.25442,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
3,2024,PA,Pennsylvania,OTH,other,NaN,NaN,NaN,NaN,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
4,2024,PA,Pennsylvania,IND,industrial,11563.0,7.84,3833.95533,48898.77926,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours

# Data Exploration

Find the sectors that are common to both datasets. Filter down to just those sectors.

In [142]:
# find unique sectors
energy_df["sectorDescription"].unique(), energy_price_df["sectorName"].unique()

(array(['Industrial Non-CHP', 'Electric Power Sector Non-CHP',
        'Industrial CHP', 'All Industrial', 'Electric Utility',
        'Commercial CHP', 'Commercial Non-CHP', 'IPP Non-CHP',
        'Independent Power Producers', 'Residential', 'All Commercial',
        'All Sectors', 'Electric Power', 'IPP CHP', 'Coal Consumption'],
       dtype=object),
 array(['transportation', 'residential', 'other', 'industrial',
        'commercial', 'all sectors'], dtype=object))

In [143]:
# filter to just sectors that are in other dataset, rename appropriately
sectors = ["All Sectors", "All Industrial", "All Commercial", "Residential"]
energy_df = energy_df.loc[energy_df["sectorDescription"].isin(sectors)]
energy_df = energy_df.rename(columns={"sectorDescription": "sectorName"})
energy_df.loc[energy_df["sectorName"] == "All Sectors", "sectorName"] = "all sectors"
energy_df.loc[energy_df["sectorName"] == "All Industrial", "sectorName"] = "industrial"
energy_df.loc[energy_df["sectorName"] == "All Commercial", "sectorName"] = "commercial"
energy_df.loc[energy_df["sectorName"] == "Residential", "sectorName"] = "residential"
energy_df["sectorName"].unique()
energy_df.head()

,period,location,stateDescription,sectorid,sectorName,fueltypeid,fuelTypeDescription,ash-content,ash-content-units,consumption-for-eg,...,receipts-btu,receipts-btu-units,stocks,stocks-units,sulfur-content,sulfur-content-units,total-consumption,total-consumption-units,total-consumption-btu,total-consumption-btu-units
10,2024,WI,Wisconsin,97,industrial,DPV,estimated small scale solar photovoltaic,NaN,percent,NaN,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,NaN,thousand physical units,NaN,million MMBtu
33,2024,RI,Rhode Island,8,residential,TPV,estimated total solar photovoltaic,NaN,percent,NaN,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,NaN,thousand physical units,NaN,million MMBtu
40,2024,NH,New Hampshire,96,commercial,MLG,municiapl landfill gas,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,0.47493,million MMBtu
41,2024,NH,New Hampshire,96,commercial,LFG,landfill gas,NaN,percent,211.449,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,645.834,thousand physical units,0.47493,million MMBtu
46,2024,ME,Maine,99,all sectors,WWW,wood and wood wastes,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,37.01849,million MMBtu

In [144]:
sectors = ["residential", "commercial", "industrial", "all sectors"]
energy_price_df = energy_price_df.loc[energy_price_df["sectorName"].isin(sectors)]
energy_price_df.head()

,period,stateid,stateDescription,sectorid,sectorName,customers,price,revenue,sales,customers-units,price-units,revenue-units,sales-units
2,2024,PA,Pennsylvania,RES,residential,5525582.0,17.79,9685.95414,54433.25442,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
4,2024,PA,Pennsylvania,IND,industrial,11563.0,7.84,3833.95533,48898.77926,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
5,2024,PA,Pennsylvania,COM,commercial,741510.0,11.01,4214.45037,38268.67061,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
6,2024,PA,Pennsylvania,ALL,all sectors,6278660.0,12.52,17783.62792,142095.50381,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
8,2024,OR,Oregon,RES,residential,1883053.0,14.63,2908.40125,19874.82730,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours

Find the fuel types that are in the data and filters down to only the ones we are interested in

In [145]:
energy_df["fuelTypeDescription"].unique()

array(['estimated small scale solar photovoltaic',
       'estimated total solar photovoltaic', 'municiapl landfill gas',
       'landfill gas', 'wood and wood wastes',
       'natural gas & other gases', 'biomass', 'solar photovoltaic',
       'residual fuel oil', 'wind', 'solar',
       'bituminous coal and synthetic coal', 'all fuels',
       'other renewables', 'nuclear', 'natural gas', 'petroleum coke',
       'fossil fuels', 'all coal products', 'all renewables',
       'conventional hydroelectric', 'petroleum', 'other', 'other gases',
       'bituminous coal', 'onshore wind turbine', 'estimated total solar',
       'biogenic municipal solid waste', 'coal, excluding waste coal',
       'distillate fuel oil', 'petroleum liquids', 'renewable',
       'lignite coal', 'waste oil and other oils',
       'renewable waste products', 'anthracite coal',
       'subbituminous coal', 'solar thermal',
       'hydro-electric pumped storage', 'offshore wind turbine',
       'refined coal', 'waste coal', 'geothermal'], dtype=object)

In [146]:
#filter to relevant fuel types. We can change this later
fuel_types = ["petroleum", "natural gas", "fossil fuels", "all coal products", "biomass", "wind", "estimated total solar", "other", "other renewables", "nuclear", "hydro", "geothermal", "solar", "all fuels", "all renewables"]
energy_df = energy_df[energy_df["fuelTypeDescription"].isin(fuel_types)]
energy_df.head()

,period,location,stateDescription,sectorid,sectorName,fueltypeid,fuelTypeDescription,ash-content,ash-content-units,consumption-for-eg,...,receipts-btu,receipts-btu-units,stocks,stocks-units,sulfur-content,sulfur-content-units,total-consumption,total-consumption-units,total-consumption-btu,total-consumption-btu-units
55,2024,CT,Connecticut,99,all sectors,BIO,biomass,NaN,percent,1291.708,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,1291.708,thousand physical units,9.34429,million MMBtu
88,2024,NY,New York,97,industrial,WND,wind,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,0.00928,million MMBtu
89,2024,NY,New York,97,industrial,SUN,solar,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,0.03315,million MMBtu
91,2024,NY,New York,97,industrial,ALL,all fuels,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,20.72104,million MMBtu
92,2024,NY,New York,96,commercial,SUN,solar,NaN,percent,0.000,...,NaN,billion Btu,NaN,thousand physical units,NaN,percent,0.000,thousand physical units,0.03350,million MMBtu

Checking now to see what the data looks like after that initial cleaning

In [147]:
#row counts
energy_df.shape[0], energy_price_df.shape[0]

(14714, 2040)

In [148]:
#find columns with missing values
energy_df.isna().sum()

period                              0
location                            0
stateDescription                    0
sectorid                            0
sectorName                          0
fueltypeid                          0
fuelTypeDescription                 0
ash-content                      5751
ash-content-units                   0
consumption-for-eg               1860
consumption-for-eg-units            0
consumption-for-eg-btu           1860
consumption-for-eg-btu-units        0
consumption-uto                  1860
consumption-uto-units               0
consumption-uto-btu              1860
consumption-uto-btu-units           0
cost                            12538
cost-units                          0
cost-per-btu                    14620
cost-per-btu-units                  0
generation                         82
generation-units                    0
heat-content                     1792
heat-content-units                  0
receipts                         5586
receipts-units                      0
receipts-btu                     5351
receipts-btu-units                  0
stocks                          14714
stocks-units                        0
sulfur-content                   5696
sulfur-content-units                0
total-consumption                1860
total-consumption-units             0
total-consumption-btu            1860
total-consumption-btu-units         0
dtype: int64

Start dropping some columns that aren't needed.

We aren't focused on breaking down consumption by UTO and Energy Generation, only total, so we can drop those.

We can drop the stocks, heat content, and reciepts columns because we don't care about physical quantities of material.

We can also remove the stateDescription, because the location is enough. We can also remove the sectorid because sectorName is enough.

We can also remove the physical unit columns, because BTU allows for better comparisons.

In [149]:
energy_df.drop(columns=["stateDescription", "sectorid", "consumption-for-eg", "consumption-for-eg-units", "consumption-for-eg-btu", "consumption-for-eg-btu-units", "consumption-uto", "consumption-uto-units", "consumption-uto-btu", "consumption-uto-btu-units", "total-consumption", "total-consumption-units", "cost", "cost-units", "heat-content", "heat-content-units", "receipts", "receipts-units", "receipts-btu", "receipts-btu-units", "stocks", "stocks-units"], inplace=True)
#rename location to "stateID" to match the other data
energy_df = energy_df.rename(columns={"location": "stateid"})
energy_df.dtypes

period                           int64
stateid                         object
sectorName                      object
fueltypeid                      object
fuelTypeDescription             object
ash-content                    float64
ash-content-units               object
cost-per-btu                   float64
cost-per-btu-units              object
generation                     float64
generation-units                object
sulfur-content                 float64
sulfur-content-units            object
total-consumption-btu          float64
total-consumption-btu-units     object
dtype: object

Cleaning the price df

In [150]:
energy_price_df.dtypes

period                int64
stateid              object
stateDescription     object
sectorid             object
sectorName           object
customers           float64
price               float64
revenue             float64
sales               float64
customers-units      object
price-units          object
revenue-units        object
sales-units          object
dtype: object

We can remove the state description, because the stateId is enough.

Likewise, we can remove the sectorid because sectorName is enough.

The rest of the columns are important for now

In [151]:
energy_price_df.drop(columns={"stateDescription", "sectorid"}, inplace=True)
energy_price_df.head()

,period,stateid,sectorName,customers,price,revenue,sales,customers-units,price-units,revenue-units,sales-units
2,2024,PA,residential,5525582.0,17.79,9685.95414,54433.25442,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
4,2024,PA,industrial,11563.0,7.84,3833.95533,48898.77926,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
5,2024,PA,commercial,741510.0,11.01,4214.45037,38268.67061,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
6,2024,PA,all sectors,6278660.0,12.52,17783.62792,142095.50381,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
8,2024,OR,residential,1883053.0,14.63,2908.40125,19874.82730,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours

# Bringing the Data Together

Now we can join the datasets based on sectorName, stateid, and period.

In [152]:
final_df = pd.merge(
    energy_df,
    energy_price_df,
    on=["sectorName", "stateid", "period"],
    how="left" 
)
final_df.head()

,period,stateid,sectorName,fueltypeid,fuelTypeDescription,ash-content,ash-content-units,cost-per-btu,cost-per-btu-units,generation,...,total-consumption-btu,total-consumption-btu-units,customers,price,revenue,sales,customers-units,price-units,revenue-units,sales-units
0,2024,CT,all sectors,BIO,biomass,NaN,percent,NaN,dollars per million Btu,597.19041,...,9.34429,million MMBtu,1721296.0,24.47,6671.77536,27263.48547,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
1,2024,NY,industrial,WND,wind,NaN,percent,NaN,dollars per million Btu,2.72027,...,0.00928,million MMBtu,16383.0,9.11,1445.81768,15875.31883,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
2,2024,NY,industrial,SUN,solar,NaN,percent,NaN,dollars per million Btu,9.71645,...,0.03315,million MMBtu,16383.0,9.11,1445.81768,15875.31883,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
3,2024,NY,industrial,ALL,all fuels,NaN,percent,NaN,dollars per million Btu,869.97735,...,20.72104,million MMBtu,16383.0,9.11,1445.81768,15875.31883,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
4,2024,NY,commercial,SUN,solar,NaN,percent,NaN,dollars per million Btu,9.81885,...,0.03350,million MMBtu,1166319.0,18.83,13302.96015,70650.51461,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours

Here, we can see that each row from the energy df was matched to a row in the price df

In [153]:
final_df.shape[0]

14714

Here we can see what still has missing values. 

Ash and sulfur content is to be expected since only certain fuels have that statistic.

Cost is also to be expected since solar and wind don't have a cost to generate associated. These columns might be worth removing later.

Generation is worrying because it is a crucial metric. However, the amount missing is low (82/~14000)

Consumption for electricity generation is also worrying because it is a crucial metric. The number of missing is pretty high too. 
Upon further inspection, it seems to largely be solar that is missing this metric. Our domain experts should look into why this may be the case.

In [154]:
final_df.isna().sum()

period                             0
stateid                            0
sectorName                         0
fueltypeid                         0
fuelTypeDescription                0
ash-content                     5751
ash-content-units                  0
cost-per-btu                   14620
cost-per-btu-units                 0
generation                        82
generation-units                   0
sulfur-content                  5696
sulfur-content-units               0
total-consumption-btu           1860
total-consumption-btu-units        0
customers                          0
price                              0
revenue                            0
sales                              0
customers-units                    0
price-units                        0
revenue-units                      0
sales-units                        0
dtype: int64

### What type of fuel is missing Consumption stats?

In [155]:
missing_consumption = final_df[final_df["total-consumption-btu"].isna()]
# find the counts of each fuel type
missing_consumption["fuelTypeDescription"].value_counts()

fuelTypeDescription
estimated total solar    1792
petroleum                  41
biomass                    12
fossil fuels                6
other                       4
all fuels                   3
all renewables              1
other renewables            1
Name: count, dtype: int64

In [156]:
#wind total-consumption values
wind_total_consumption = final_df[final_df['fuelTypeDescription'] == 'wind']
wind_total_consumption.head()

,period,stateid,sectorName,fueltypeid,fuelTypeDescription,ash-content,ash-content-units,cost-per-btu,cost-per-btu-units,generation,...,total-consumption-btu,total-consumption-btu-units,customers,price,revenue,sales,customers-units,price-units,revenue-units,sales-units
1,2024,NY,industrial,WND,wind,NaN,percent,NaN,dollars per million Btu,2.72027,...,0.00928,million MMBtu,16383.0,9.11,1445.81768,15875.31883,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
5,2024,NC,all sectors,WND,wind,NaN,percent,NaN,dollars per million Btu,530.04300,...,1.80851,million MMBtu,5872542.0,11.62,15899.97945,136800.74716,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
93,2024,CO,industrial,WND,wind,NaN,percent,NaN,dollars per million Btu,2.73800,...,0.00934,million MMBtu,15198.0,8.78,1299.34204,14801.86967,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
106,2024,NH,all sectors,WND,wind,NaN,percent,NaN,dollars per million Btu,444.56900,...,1.51687,million MMBtu,770145.0,20.59,2246.88408,10912.60039,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours
108,2024,AK,all sectors,WND,wind,NaN,percent,NaN,dollars per million Btu,123.51871,...,0.42144,million MMBtu,360048.0,22.06,1345.67426,6099.71689,number of customers,cents per kilowatt-hour,million dollars,million kilowatt hours

# Fixing Units in Data

In [157]:
print(final_df["total-consumption-btu-units"].value_counts())
print(final_df["ash-content-units"].value_counts())
print(final_df["generation-units"].value_counts())
print(final_df["cost-per-btu-units"].value_counts())
print(final_df["sulfur-content-units"].value_counts())
print(final_df["customers-units"].value_counts())
print(final_df["price-units"].value_counts())
print(final_df["revenue-units"].value_counts())
print(final_df["sales-units"].value_counts())

total-consumption-btu-units
million MMBtu    14714
Name: count, dtype: int64
ash-content-units
percent    14714
Name: count, dtype: int64
generation-units
thousand megawatthours    14714
Name: count, dtype: int64
cost-per-btu-units
dollars per million Btu    14714
Name: count, dtype: int64
sulfur-content-units
percent    14714
Name: count, dtype: int64
customers-units
number of customers    14714
Name: count, dtype: int64
price-units
cents per kilowatt-hour    14714
Name: count, dtype: int64
revenue-units
million dollars    14714
Name: count, dtype: int64
sales-units
million kilowatt hours    14714
Name: count, dtype: int64

Upon further inspection, all the units are the same in each row. 

Therefore, I'll note the units here and drop the columns to save space.

- Total Consumption BTU  = million MMBtu
- Ash Content = Percent
- Cost Per BTU = Dollars per million Btu
- Generation = Thousand MWh
- Sulfur Content = Percent
- Customers = Number of customers
- Price = Cents per KWh
- Revenue = Million Dollars
- Sales = Million KWh

In [158]:
final_df.drop(columns=["total-consumption-btu-units", "ash-content-units", "cost-per-btu-units", "generation-units", "sulfur-content-units", "customers-units", "price-units", "revenue-units", "sales-units"], inplace=True)
final_df.head()

,period,stateid,sectorName,fueltypeid,fuelTypeDescription,ash-content,cost-per-btu,generation,sulfur-content,total-consumption-btu,customers,price,revenue,sales
0,2024,CT,all sectors,BIO,biomass,NaN,NaN,597.19041,NaN,9.34429,1721296.0,24.47,6671.77536,27263.48547
1,2024,NY,industrial,WND,wind,NaN,NaN,2.72027,NaN,0.00928,16383.0,9.11,1445.81768,15875.31883
2,2024,NY,industrial,SUN,solar,NaN,NaN,9.71645,NaN,0.03315,16383.0,9.11,1445.81768,15875.31883
3,2024,NY,industrial,ALL,all fuels,NaN,NaN,869.97735,NaN,20.72104,16383.0,9.11,1445.81768,15875.31883
4,2024,NY,commercial,SUN,solar,NaN,NaN,9.81885,NaN,0.03350,1166319.0,18.83,13302.96015,70650.51461

# Save to File

In [159]:
final_df.to_csv(f"../datasets/combined_eia_data.csv", index=False)